.titulo-destacado {
    font-size: 50px;
    font-weight: 450;
    color: #000000;
    margin-bottom: 30px;
    padding: 0px 300px 0px 0px;
}

.card-grande {
    min-height: 800px; /* Ajusta este valor según el contenido que esperas */
    background-color: #f5f5f5;
    border: none;
}
  
.card-pequena {
    min-height: 390px; /* Ajusta este valor para las cards pequeñas */
    background-color: #f5f5f5;
    border: none;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.card-text {
    font-size: 18px;
}