.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.45); /* Superposición oscura */
    color: white;
}

/* esta clase no esta funcionando */
.card-title {
    font-size: 100px; /* Tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
    color: white;
}


@media (min-width: 768px) {
    .card-title {
        font-size: 4rem;
    }

    .card-text {
        font-size: 1.5rem;
    }
}

.boton-header {
    margin-top: 12px; /* Espaciado arriba del botón */
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
}
