.seccion-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Pantallas medianas */
@media (max-width: 992px) {
    .seccion-principal {
      padding-top: 600px;
    }
  }
  
  /* Pantallas pequeñas */
  @media (max-width: 768px) {
    .seccion-principal {
      padding-top: 400px;
    }
  }
  
  /* Pantallas extra pequeñas (móviles) */
  @media (max-width: 576px) {
    .seccion-principal {
      padding-top: 300px;
    }
  }

.contenido {
    text-align: center;
}

.texto {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin: 50px;
    padding: 0px 300px 0px 300px;
}

.contenido img {
    width: 150px;  /* Ajusta el tamaño según tus necesidades */
    height: auto;  /* Mantiene la proporción original */
    margin-top: 20px;
}
